<template>
    <lightning-card>
        <div style="padding:0.5rem;background:#343e4d">
            <div class="slds-text-color_inverse slds-text-align_center slds-text-heading_medium">Dyanimc form display based on custom meta data records</div>
        </div>
        <div class="slds-form">
            <template for:each={dataArray} for:item="item1" for:index="index1">
                <template if:false={item1.row}>
                    <div key={item1} class="slds-grid slds-gutters">
                        <template for:each={item1.value} for:item="item" for:index="index">
                            <template if:false={item.Single_Row__c}>
                                <div key={item} class="slds-col">
                                    <!--for input type (check box /radio / text / text area ) field-->
                                    <template if:true={item.isInput}>
                                        <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                            <label
                                                class="slds-form-element__label"><strong>{item.MasterLabel}</strong><abbr
                                                    title="required" class="slds-required">*</abbr></label>
                                            <div class="slds-form-element__control">
                                                <lightning-input type={item.Type__c} onchange={handleCityChange}>
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                                <div key={item} class="slds-col">
                                     <!--for picklist type field-->
                                    <template if:false={item.isInput}>
                                        <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
                                            <label
                                                class="slds-form-element__label"><strong>{item.MasterLabel}</strong></label>
                                            <div class="slds-form-element__control">
                                                <lightning-combobox value={item.value} options={item.options}
                                                    onchange={handleIndustryChange}>
                                                </lightning-combobox>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </template>
                    </div>
                </template>
                <template if:true={item1.row}>
                    <template for:each={item1.value} for:item="item" for:index="index">
                        <template if:true={item.Single_Row__c}>
                            <template if:true={item.isInput}>
                                <div key={item} class="slds-form-element slds-form-element_horizontal">
                                    <label class="slds-form-element__label"><strong>{item.MasterLabel}</strong><abbr
                                            title="required" class="slds-required">*</abbr></label>
                                    <div class="slds-form-element__control">
                                        <lightning-input type={item.Type__c} onchange={handleCityChange}>
                                        </lightning-input>
                                    </div>
                                </div>
                            </template>
                            <template if:false={item.isInput}>
                                <div key={item} class="slds-form-element slds-form-element_horizontal">
                                    <label class="slds-form-element__label"><strong>{item.MasterLabel}</strong></label>
                                    <div class="slds-form-element__control">
                                        <lightning-combobox value={item.value} options={item.options}
                                            onchange={handleIndustryChange}>
                                        </lightning-combobox>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </template>
                </template>
            </template>
        </div>
    </lightning-card>
</template>